<div class="my-5">
  <div class="card card-container">
    <div class="card-body">
      <div class="card-title">Créer un nouveau compte: </div>
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="mb-3">
          <label for="first_name">Prénom</label>
          <input
            type="text"
            class="form-control"
            name="first_name"
            [(ngModel)]="form.first_name"
            required
            minlength="3"
            maxlength="20"
            #first_name="ngModel"
          />
          <div class="alert-danger" *ngIf="first_name.errors && f.submitted">
            <div *ngIf="first_name.errors['required']">Prénom is required</div>
            <div *ngIf="first_name.errors['minlength']">
              Prénom must be at least 3 characters
            </div>
            <div *ngIf="first_name.errors['maxlength']">
              Prénom must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="first_name">Nom</label>
          <input
            type="text"
            class="form-control"
            name="last_name"
            [(ngModel)]="form.last_name"
            required
            minlength="3"
            maxlength="20"
            #last_name="ngModel"
          />
          <div class="alert-danger" *ngIf="last_name.errors && f.submitted">
            <div *ngIf="last_name.errors['required']">Nom is required</div>
            <div *ngIf="last_name.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="last_name.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
