<div class="container">
  <div class="row">
    <div class="col">
      <div class="header py-5 mt-5 text-center">
        <h1>Recyclo Plus <small>Backoffice</small></h1>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="row">
            <div class="col-md-6">
              <app-login></app-login>
            </div>
            <div class="col-md-6">
              <app-register></app-register>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>